*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --fs1: 1rem;
    --fs2: 1.5rem;
    --fsm: 1.3rem;
    --fl1: 1.8rem;
    --fl2: 2rem;
}

html {
    font-size: 16px;
}

/* Navbar --------------------------------------------------------- */
#navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

#ppicon {
    display: flex;
    align-items: center;
}

#ppicon>img {
    height: 60px;
}

#ppicon>h2 {
    color: #444BAB;
    font-weight: bold;
    font-size: cal(var(--fsm) - 0.5rem);
    font-family: Poppins;
}

#usericon {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 48px;
}

.bprof>strong {
    font-size: cal(var(--fsm) - 0.5rem);
}

#pimage {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#chevron {
    height: 22px;
    width: 22px;
}

.bprof {
    align-items: center;
    font-family: Poppins;
    font-weight: 600;
}

/*---------------------------------------------------------------*/

/* Main Container --------------------------------------------------- */
#main_page {
    margin-left: 0%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F5F5F5;
    padding: 2em;
}

/*--------------------------------------------------------------------*/
/* left container ---------------------------------------------------- */

#left_side {
    background-color: #FFFFFF;
    width: 25%;
    font-size: var(--fs1);
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

#intro {
    font-family: Poppins;
    padding: 0.5em;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#intro>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-fit: center;
}

#intro>h2 {
    font-size: var(--fl2);
}

#about {
    width: 90%;
    color: #343A40;
    font-family: Poppins;
    padding: 0.5em;
}

#contact {
    width: 90%;
    font-family: Poppins;
    padding: 0.5em;
}

#contact>a {
    color: #343A40;
    text-decoration: none;
}

#social {
    color: #565655;
    width: 90%;
    font-family: Poppins;
    padding: 0.5em;
}

#social>a {
    color: #343A40;
    text-decoration: none;
}

/*--------------------------------------------------------------------*/

/* right container --------------------------------------------------- */
#right_side {
    background: #FFFFFF;
    width: 70%;
    display: flex;
    font-size: var(--fs1);
    padding: 10px;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

#right_side>p {
    color: #6B6C6D;
}

#skill {
    width: 85%;
    padding: 0.5em;
    font-family: Poppins;
}

#skill>p>strong {
    color: #263238;
}

#skill>p {
    color: #263238;
}

#achievements {
    font-weight: 500;
    font-family: Poppins;
    width: 85%;
    padding: 0.5em;
}

#achievements>p {
    color: #263238;
}

#work_exp {
    width: 85%;
    font-family: Poppins;
    padding: 0.5em;
}

#work_exp>strong {
    color: #343A40;
}

#work_exp>ul>li {
    color: #6B6C6D;
}

#work_exp>ul {
    color: #263238;
}

#edu {
    width: 85%;
    font-family: Poppins;
    padding: 0.5em;
}

#projects {
    width: 85%;
    font-family: Poppins;
    color: #263238;
    padding: 0.5em;
}

.sicon {
    height: 10px;
    width: 10px;
}

.dline {
    border-top: 2px dashed #DADADA;
}

/*--------------------------------------------------------------------------*/

/* Tags ---------------------------------------------------- */
p {
    color: #6B6C6D;
}

i {
    color: #263238;
    font-weight: 500;
}

body {
    font-size: 16px;
}

h4 {
    color: #343A40;
    font-size: var(--fsm);
}

/*---------------------------------------------------------------------*/

/* Media Queries ----------------------------------------------------*/
@media only screen and (max-width: 900px) {
    #main_page {
        flex-direction: column;
        align-items: center;
    }

    #left_side {
        width: 100%;

    }

    #right_side {
        width: 100%;
    }

    html {
        font-size: 24px;
    }

    .hd1 {
        color: #343A40;
        font-size: var(--fs2);
    }

    .hd2 {
        color: #343A40;
        font-size: var(--fs2);
    }

    .sicon {
        height: 20px;
        width: 20px;
    }

}

@media only screen and (max-device-width: 900px) {
    #main_page {
        flex-direction: column;
        align-items: center;
    }

    #left_side {
        width: 100%;
    }

    #right_side {
        width: 100%;
    }

    html {
        font-size: 24px;
    }

    .hd1 {
        color: #343A40;
        font-size: var(--fs2);
    }

    .hd2 {
        color: #343A40;
        font-size: var(--fs2);
    }

    .hd3 {
        color: #1d2024;
        font-size: var(--fsm);
        font-weight: 500;
    }

    .sicon {
        height: 20px;
        width: 20px;
    }
}

/*------------------------------------------------------------------*/

/* Headings ---------------------------------------- */

.hd1 {
    color: #343A40;
    font-size: var(--fs2);
}

.hd2 {
    color: #343A40;
    font-size: var(--fs2);
}

.hd3 {
    color: #1d2024;
    font-size: var(--fsm);
    font-weight: 500;
}

/*-----------------------------------------------------------------------*/