*, ::after, ::before {
    box-sizing: border-box;
    font-size: 14px;
}

#navbar {

    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

#ppicon>h2 {
    color: #444BAB;   
    font-weight: bold;
    font-size: 1.1em;
    font-family: Poppins;
}

#intro>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-fit: center;

}

#main_page {
    margin-left: 0%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F5F5F5;
    ;
    padding: 2em;

}

#left_side {
    background-color: #FFFFFF;
    width: 25%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.hd1 {
    color: #343A40;
}

.hd2 {
    color: #343A40;
}

#right_side>p {
    color: #6B6C6D;
}

#intro {
    font-family: Poppins;
    font-size: 14px;
    padding: 0.5em;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

#intro>h2 {
    font-size: 1.8em;
}

.dline {
    border-top: 2px dashed #DADADA;

}

#about {
    width: 90%;
    font-size: 14px;
    color: #343A40;
    font-family: Poppins;
    padding: 0.5em;
}


#contact {
    font-size: 14px;
    width: 90%;
    font-family: Poppins;
    padding: 0.5em;

}

#social {
    color: #565655;
    font-size: 14px;
    width: 90%;
    font-family: Poppins;
    padding: 0.5em;

}

#edu {
    font-size: 14px;
    width: 85%;
    font-family: Poppins;
    padding: 0.5em;

}

#projects {
    font-size: 14px;
    width: 85%;
    font-family: Poppins;
    color: #263238;
    padding: 0.5em;


}

#work_exp>ul>li {
    color: #6B6C6D;
}

#work_exp>ul {
    color: #263238;
}

i {
    color: #263238;
    font-weight: 500;
}

#work_exp>strong {
    color: #343A40;
}

#work_exp {
    font-size: 14px;
    width: 85%;
    font-family: Poppins;
    padding: 0.5em;


}

#achievements {
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    width: 85%;
    padding: 0.5em;
}

h4 {
    color: #343A40;
}

#skill>p>strong {
    color: #263238;
}

#skill {
    font-size: 14px;
    width: 85%;
    padding: 0.5em;
    font-family: Poppins;
}

#right_side {
    background: #FFFFFF;
    width: 70%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

#skill>p {
    color: #263238;
}

.sicon {
    height: 10px;
    width: 10px;
}

#sidebar {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    align-items: baseline;
    align-content: center;
}

p {
    color: #6B6C6D;
}

#achievements>p {
    color: #263238;
}

#social>a {
    color: #343A40;
    text-decoration: none;
}

#contact>a {
    color: #343A40;
    text-decoration: none;
}

.hd3 {
    color: #1d2024;
    font-weight: 500;
    font-size: 14px;
}

#ppicon>img {
    height: 60px;

}

#ppicon {
    display: flex;
    align-items: center;

}

#usericon {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 40px;
}

#usericon>strong {
    font-family: Poppins;
    font-weight: 600;
}

#pimage {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#usericon>strong {
    font-size: 15px;
}

#chevron {
    height: 14px;
    width: 14px;
}

#nbell {
    height: 30px;
    width: 26px;
}

.bprof {
    align-items: center;
    font-family: Poppins;
    font-weight: 600;
}

@media only screen and (max-device-width: 900px) {
    #main_page {
        flex-direction: column;
        align-items: center;
    }

    #left_side {
        width: 100%;
    }

    #right_side {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    #main_page {
        flex-direction: column;
        align-items: center;
    }

    #left_side {
        width: 100%;
    }

    #right_side {
        width: 100%;
    }
}